<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="todo-list.css" />
  </head>

  <body>
    <div class="total-list">
      <p>todos</p>
      <div class="todo-list-page">
        <div id="updatingTheUserList">
          <input type="text" class="input" value="" id="addUserInput" placeholder="Learn Thinking in React" />
        </div>
        <div id="navBar">
          <span id="numberOfItems"></span>
          <button id="allButtonId" class="common-border-buttons">All</button>
          <button id="activeButtonId" class="common-border-buttons">Active</button>
          <button id="completeButtonId" class="common-border-buttons">Completed</button>
          <button id="clearButtonId" class="common-border-buttons">Clear completed</button>
        </div>
      </div>
    </div>
    <!--<div id="console-root">-->
    <!--  <script src="https://tap.ibhubs.in/utils/console.js"></script>-->
    <!--</div>-->

    <script src="todo-list.js"></script>
  </body>

</html>
